body{
    background-color: white;
    margin: 0;
}
h1{
    color: #730707;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 25px;
    font-family: 'Satisfy', cursive;
}

[input-container]{
    text-align: center;
    padding: 30px;
}
[input-container] input{
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #37003E;
}
@media(max-width: 500px){
    [input-container] input{
        width: 160px;
    }
}
[input-container] button{
    padding: 10px;
    background-color: rgb(138, 6, 17);
    border: none;
    color: white;
    outline: none;
}
[input-container] button:hover{
    background-color: #401A12;
    color: white;
}
#heading-container p{
    text-align: center;
    font-size: 1.7em;
    line-height: 1.5em;
    color: #730707;
    margin-top: 60px;
    font-family: 'Nunito', sans-serif;
}
#weather-report-container p{
    font-size: 1.5em;
    color: #026873;
    text-align: center;
    line-height: 1.3em;
    font-family: 'Nunito', sans-serif;
}
@media(max-width: 800px){
    #heading-container p{
        font-size: 1.3em;
    }
    #weather-report-container p{
        font-size: 1.3em;
    }
}
#weather-report-container h2{
    font-size: 2em;
    color: #026873;
    text-align: center;
    font-family: 'Lobster', cursive;
}
@media(max-width: 500px){
    #weather-report-container h2{
        font-size: 1.7em;
    }
}
#weather-report-container{
    width: 70%;
    margin: 0 auto;
    background-color: #ACF2DE;
    padding: 20px;
    border-radius: 5px;
    animation-name: weather-report;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes weather-report{
        0%{
            transform: scale(0.5) ;
        }
        50%{
            transform: scale(1);
        }
    }
#convert-button-container2 button{
    padding: 10px;
    margin:0 auto;
    color: #ACF2DE;
    background-color: #095a63;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
}

#convert-button-container2 button:hover{
    
    background-color: #8C504A;
    color: white;
}
@media(max-width: 500px){
    #convert-button-container2 button{
        padding: 5px;
        }
        
        
    }
#convert-button-container2{
    text-align: center;
}

header{
    display: flex;
    background-color: #F2C6B6;
    justify-content: space-between;
}


    img{
        display: block;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
    }
    @media(max-width: 800px){
        img{
            width: 80%;
        }
    }
    #map-image-container{
        /*background-image: url(Images/blue-sky-blur-clear-sky-color-281260.jpg);
        background-size: contain; */
        padding: 20px 0 40px 0;
        margin-top: 15px;
        background-color: #F2C6B6;
    }
    iframe{
        border: 2px solid #730707;
        padding: 6px 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 80px;
        height: 50px;
    }
    footer{
        background-color: #730707;
        padding: 1px;
        color: white;
        text-align: center;
        font-family: 'Lobster', cursive;
    }