body{
    background-color: rgba(242, 198, 182, 0.171);
    margin: 0;
}
h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 25px;
    font-family: 'Satisfy', cursive;
}

[input-container]{
    text-align: center;
    padding: 30px;
}
[input-container] input{
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid orangered;
}
@media(max-width: 500px){
    [input-container] input{
        width: 160px;
    }
    h1{
        font-size: 2.3em;
    }
}
[input-container] button{
    padding: 10px;
    background-image: linear-gradient(90deg,#0005E6, black);
    border: none;
    color: white;
    outline: none;
}
[input-container] button:hover{
    background: #0006FF;
    color: white;
}
#heading-container p{
    text-align: center;
    font-size: 1.7em;
    line-height: 1.5em;
    color: rgba(255, 72, 0, 0.739);
    margin-top: 60px;
    font-family: 'Nunito',sans-serif;
}
#weather-report-container p{
    font-size: 1.5em;
    color: #026873;
    text-align: center;
    line-height: 1.3em;
    font-family: 'Nunito',sans-serif;
}
@media(max-width: 800px){
    #heading-container p{
        font-size: 1.3em;
    }
    #weather-report-container p{
        font-size: 1.3em;
    }
}
#weather-report-container h2{
    font-size: 2em;
    color: #026873;
    text-align: center;
    font-family: 'Handlee',cursive;
}
@media(max-width: 500px){
    #weather-report-container h2{
        font-size: 1.7em;
    }
}
#weather-report-container{
    width: 70%;
    margin: 0 auto;
    background-color: #ACF2DE;
    padding: 20px;
    border-radius: 5px;
    animation-name: weather-report;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes weather-report{
        0%{
            transform: scale(0.5) ;
        }
        50%{
            transform: scale(1);
        }
    }
#convert-button-container2 button{
    padding: 10px;
    margin:0 auto;
    color: #ACF2DE;
    background-color: #095a63;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
}

#convert-button-container2 button:hover{
    background-color: #8C504A;
    color: white;
}
@media(max-width: 500px){
    #convert-button-container2 button{
        padding: 5px;
        }
        
        
    }
#convert-button-container2{
    text-align: center;
}

header{
    display: flex;
    background-color: #000140;
    justify-content: space-between;
}


    div img{
        display: block;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        background-color: rgba(255, 72, 0, 0.822);
    }
    @media(max-width: 800px){
        img{
            width: 80%;
        }
    }
    #map-image-container{
        /*background-image: url(Images/blue-sky-blur-clear-sky-color-281260.jpg);
        background-size: contain; */
        padding: 20px 0 40px 0;
        margin-top: 15px;
        text-align: center;
    }
    iframe{
        border: 2px solid white;
        padding: 6px 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 80px;
        height: 50px;
    }
    footer{
        background-color: #000140;
        padding: 1px;
        color: white;
        text-align: center;
        font-family: 'Handlee', cursive;
    }

    #contact{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .bottom-icon{
        width: 5%;
        border-radius: 50%;
        margin-bottom: -20px;
        margin-right: 5px;
    }
    .bottom-icon:hover{
        transform: scale(1.8);
        transition: transform 1s;
    }

    